<section class="pb-5">
  <div class="text-center flex flex-col items-center">
    <div class="mb-5 flex justify-center items-center">
      <h1>Compty</h1>
      <div class="">
        <img src="../../../assets/images/logo_compty.png" class="logo mx-auto w-28 h-auto" alt="compty-logo" title="Compty logo"/>
      </div>
    </div>
    <div class="mb-5 flex justify-center">
      <h2 class="w-full mx-auto text-left">Gérer vos comptes et optimisez votre budget</h2>
    </div>

    <div class="flex flex-col w-full mb-5 items-center justify-center gap-3">
      <p class="w-full md:w-1/2 text-left px-2 pb-2 text-xl">
        Compty est votre nouvelle application de gestion de comptes
        bancaires qui vous permet de gérer toutes vos opérations quotidiennes et
        les exporter au format .csv très simplement.
      </p>
      <div class="w-full md:w-1/2">
        <img
          src="../../../assets/images/JM-comptesB.JPG"
          class="w-full h-auto"
          alt="JM-comptesB.JPG"
          />
      </div>
    </div>

    @if (!isLoggedIn()) {
      <div class="my-5">
        <button class="px-4 py-2 rounded-md bg-primary text-white hover:bg-primary-dark text-lg" [routerLink]="['/register']">
          Inscrivez-vous !
        </button>
      </div>
    }

    <div class="mb-5 flex justify-center">
      <h2 class="w-full mx-auto">Comment ça marche ?</h2>
    </div>

    <section class="flex flex-col gap-8 justify-center items-center w-full md:w-1/2">
      <app-home-card
        [imagePath]="'assets/images/02.png'"
        [alt]="'02.png'"
        [title]="'Ajouter vos comptes bancaires'"
        [texte]="'Ajouter un compte bancaire en précisant le solde actuel et le type de compte (courant, épargne, bourse).'"
      />

      <app-home-card
        [imagePath]="'assets/images/01.png'"
        [alt]="'01.png'"
        [title]="'Ajouter une opération'"
        [texte]="'Ajouter une opération en précisant la catégorie, le compte bancaire, etc...'"
      />

      <app-home-card
        [imagePath]="'assets/images/03.png'"
        [alt]="'03.png'"
        [title]="'Voir toutes vos opérations'"
        [texte]="'Affichage de la somme de vos dépenses et revenues et mise à jour du solde de vos comptes.'"
      />

      <app-home-card
        [imagePath]="'assets/images/04.png'"
        [alt]="'04.png'"
        [title]="'Solde mensuel'"
        [texte]="'Affichage de la somme de vos dépenses et revenues et mise à jour du solde de vos comptes.'"
      />

      <app-home-card
        [imagePath]="'assets/images/05.png'"
        [alt]="'05.png'"
        [title]="'Répartition de vos dépenses'"
        [texte]="'Affichage d\'un camembert montrant la répartion de vos dépenses par catégorie.'"
      />

      <app-home-card
        [imagePath]="'assets/images/06.png'"
        [alt]="'06.png'"
        [title]="'Évolution annuelle de vos comptes'"
        [texte]="'Suivez l\'évolution annuelle de l\'ensemble de vos comptes.'"
      />

      <app-home-card
        [imagePath]="'assets/images/07.png'"
        [alt]="'07.png'"
        [title]="'Évolution annuelle de vos comptes'"
        [texte]="'Suivez l\'évolution annuelle de l\'ensemble de vos comptes.'"
      />

      <app-home-card
        [imagePath]="'assets/images/export.jpg'"
        [alt]="'export.jpg'"
        [title]="'Exporter vos opérations'"
        [texte]="'Exporter vos opérations et solde de vos comptes en .csv pour ensuite pouvoir les mettre en forme en tableau excel.'"
      />
    </section>

  </div>
</section>
