/* footer > div {
  background-color: rgb(153, 200, 223);
} */

footer {
  font-size: 10px !important;
}

.cookiebanner {
  z-index: 1050;
}

@media screen and (max-width: 768px) {
  footer {
    /* font-size: 10px !important; */
    height: 40px !important;
    margin-top: 30px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 420px) {
  footer {
    display: none;
  }
}
