<section class="container mt-5">
  <div class="text-center">
    <h1 class="mb-5">Récapitulatif des opérations</h1>
  </div>

  <div class="d-flex align-items-center mb-2">
    <form [formGroup]="form" (ngSubmit)="onSubmitChangeDate()">
      <div class="d-flex align-items-center">
        <mat-form-field class="mx-2">
          <input
            matInput
            type="month"
            value="{{ todayYear }}-{{ todayMonthString }}"
            formControlName="rangeDate"
          />
        </mat-form-field>
        <div class="mx-2">
          <button type="submit" class="btn btn-success">Filtrer</button>
        </div>
      </div>
    </form>
    <div class="mx-2">
      <button class="btn btn-primary" (click)="resetDateFilters()">
        Toutes opérations
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="d-flex justify-content-center">
        <button
          mat-raised-button
          color="primary"
          class="mb-2"
          (click)="AddOperation()"
        >
          Ajouter une dépense
        </button>
      </div>
      <div class="d-flex justify-content-evenly">
        <div>Crédit = {{ totalCredit }} €</div>
        <div>Débit = {{ totalDebit }} €</div>
        <div>Différence = {{ totalCredit + totalDebit }} €</div>
      </div>
      <div>
        <!-- Angular mat table -->
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="operationDate">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.operationDate | date: "MMMM y" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="compte">
            <th mat-header-cell *matHeaderCellDef>Compte</th>
            <td mat-cell *matCellDef="let element">{{ element.compte }}</td>
          </ng-container>
          <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef>Montant</th>
            <td mat-cell *matCellDef="let element">
              {{ element.montant + " €" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="categorie">
            <th mat-header-cell *matHeaderCellDef>Catégorie</th>
            <td mat-cell *matCellDef="let element">{{ element.categorie }}</td>
          </ng-container>
          <ng-container matColumnDef="description1">
            <th mat-header-cell *matHeaderCellDef>Description 1</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description2">
            <th mat-header-cell *matHeaderCellDef>Description 2</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description2 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="edition">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button (click)="openOperationDetail(element)" class="btn">
                <fa-icon [icon]="faPen"></fa-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="suppression">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button (click)="deleteOperation(element)" class="btn">
                <fa-icon [icon]="faTrashCan" style="color: red"></fa-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsToDisplay"
          ></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 50, 100]"
          showFirstLastButtons
          aria-label="Select page of operations"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex justify-content-center">
        <button
          mat-raised-button
          color="primary"
          class=""
          (click)="AddAccount()"
        >
          Ajouter un compte
        </button>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Compte</th>
              <th scope="col">Solde</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let compte of monthlyHistoryPerAccount">
              <tr>
                <td>{{ compte.name }}</td>
                <td *ngFor="let history of compte.history">
                  {{ history.soldeFinal }} €
                </td>
                <td>
                  <button (click)="openAccountDetail(compte)" class="btn">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </button>
                </td>
                <td>
                  <button (click)="deleteAccount(compte)" class="btn">
                    <fa-icon [icon]="faTrashCan" style="color: red"></fa-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <div class="mt-2">
        <h3 class="text-center">Dépense par catégorie</h3>
        <ngx-charts-pie-chart
          (window:resize)="onResize($event)"
          [results]="spendByCategory"
          [legend]="false"
          [legendTitle]="'Dépense par catégorie'"
          [view]="[width, 400]"
          [labels]="true"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</section>
