table {
  width: 100%;
}

/* .demo-table {
  width: 100%;
} */

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.courses {
  background-color: rgb(34, 123, 206);
}
.divers {
  background-color: orange;
}
.essence {
  background-color: rgb(212, 71, 212);
}
.epargne {
  background-color: salmon;
}
.prelevement {
  background-color: pink;
}
.pub {
  background-color: yellow;
}
.remboursement {
  background-color: green;
}
.restaurant {
  background-color: rgba(255, 255, 0, 0.801);
}
.salaire {
  background-color: rgb(53, 207, 53);
}
.transfert {
  background-color: grey;
}
.voyage {
  background-color: aqua;
}
.sante {
  background-color: aquamarine;
}
#filterButton {
  border: none !important;
}

.card {
  /* min-height: 360px !important; */
  border: none !important;
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-input-element[type=month]::after {
  white-space: unset;
}
