<section class="container mt-5">
  <div class="text-center">
    <h1 class="mb-5">Récapitulatif des comptes</h1>
  </div>

  <div class="d-flex justify-content-evenly">
    <button class="mb-5" (click)="AddOperation()">Ajouter une dépense</button>
    <button class="mb-5" (click)="AddAccount()">Ajouter un compte</button>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Compte</th>
            <th scope="col">Montant</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Description 1</th>
            <th scope="col">Description 2</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operation of operationList">
            <th>{{ operation.operationDate | date: "dd-MM-yyyy" }}</th>
            <td>{{ operation.compte }}</td>
            <td>
              {{
                operation.type
                  ? "+ " + operation.montant + " €"
                  : "- " + operation.montant + " €"
              }}
            </td>
            <td>{{ operation.categorie }}</td>
            <td>{{ operation.description1 }}</td>
            <td>{{ operation.description2 }}</td>
            <td>
              <button (click)="openOperationDetail(operation)">Editer</button>
            </td>
            <td>
              <button (click)="deleteOperation(operation)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Compte</th>
            <th scope="col">Solde</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compte of compteList">
            <td>{{ compte.name }}</td>
            <td>{{ compte.soldeActuel + " €" }}</td>
            <td>
              <button (click)="openAccountDetail(compte)">Editer</button>
            </td>
            <td>
              <button (click)="deleteAccount(compte)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
