<section class="container pt-2 bg-light">
  <div class="text-center">
    <h1 class="mb-2">Gestion du compte</h1>
  </div>
  @if (!isSuccessful()) {
    <form
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
      novalidate
      >
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input
          id="username"
          type="text"
          class="form-control"
          formControlName="username"
          [class.is-invalid]="userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)"
          />
        @if (userForm.get('username')?.invalid && (userForm.get('username')?.dirty || userForm.get('username')?.touched)) {
          <div class="invalid-feedback">
            @if (userForm.get('username')?.hasError('required')) {
              <div>
                Le nom d'utilisateur est obligatoire
              </div>
            }
            @if (userForm.get('username')?.hasError('minlength')) {
              <div>
                Le nom d'utilisateur doit avoir au moins 3 caractères
              </div>
            }
            @if (userForm.get('username')?.hasError('maxlength')) {
              <div>
                Le nom d'utilisateur doit avoir au maximum 20 caractères
              </div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)"
          />
        @if (userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)) {
          <div class="invalid-feedback">
            @if (userForm.get('email')?.hasError('required')) {
              <div>
                Une adresse e-mail est obligatoire
              </div>
            }
            @if (userForm.get('email')?.hasError('email')) {
              <div>
                L'adress e-mail doit être valide
              </div>
            }
          </div>
        }
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          id="password"
          type="password"
          class="form-control"
          formControlName="password"
          [class.is-invalid]="userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)"
          />
        @if (userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched)) {
          <div class="invalid-feedback">
            @if (userForm.get('password')?.hasError('minlength')) {
              <div>
                Le mot de passe doit avoir au moins 6 caractères
              </div>
            }
          </div>
        }
      </div>
      <div class="form-group d-flex justify-content-center">
        <button class="btn btn-primary btn-block mt-3" [disabled]="userForm.invalid">
          Modifier mes informations
        </button>
      </div>
      @if (isSignUpFailed()) {
        <div class="alert alert-warning">
          La modification des informations a échoué<br />{{ errorMessage() }}
        </div>
      }
    </form>
  }

  @if (!isSuccessful()) {
    <div class="d-flex justify-content-center">
      <button class="btn btn-danger mt-2" (click)="openConfirmation()">
        Supprimer mon compte utilisateur
      </button>
    </div>
  }

  @if (isSuccessful()) {
    <div class="alert alert-success">
      Informations modifiées avec succès!
    </div>
  }

  @if (!isSuccessful()) {
    <div class="border-bottom border-5 mt-4"></div>
  }

  <!-- Affichage et suppression des comptes bancaires -->
  @if (!isSuccessful()) {
    <div class="mb-5 pb-5">
      <h2 class="text-center mt-3">Gestion des comptes bancaires</h2>
      <div>
        <div class="d-flex justify-content-center mb-2">
          <a href="javascript:;" (click)="AddAccount()" class="">
            <fa-icon
              [icon]="faPlus"
              class="text-primary"
              style="font-size: 40px"
            ></fa-icon>
          </a>
        </div>
        <div class="row">
          @for (compte of compteCourantList(); track compte) {
            <div class="col-md-3 mt-2">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ compte.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ compte.typeCompte }}
                  </h6>
                  <p class="card-text">Solde initial : {{ compte.soldeInitial }}</p>
                  <button (click)="openAccountDetail(compte)" class="btn">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </button>
                  <button (click)="openConfirmationAccountDeletion(compte)" class="btn">
                    <fa-icon [icon]="faTrashCan" style="color: red"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
        <div class="border-bottom border-3 mt-2"></div>
        <div class="row">
          @for (compte of compteEpargneList(); track compte) {
            <div class="col-md-3 mt-2">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">{{ compte.name }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    {{ compte.typeCompte }}
                  </h6>
                  <p class="card-text">Solde initial : {{ compte.soldeInitial }}</p>
                  <button (click)="openAccountDetail(compte)" class="btn">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </button>
                  <button (click)="openConfirmationAccountDeletion(compte)" class="btn">
                    <fa-icon [icon]="faTrashCan" style="color: red"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
        @if (!isSuccessful()) {
          <div class="border-bottom border-5 mt-4"></div>
        }
        <!-- Affichage et réactivation des comptes supprimés -->
        <div class="mb-5 pb-5">
          <h2 class="text-center mt-3">Comptes inactifs</h2>
          <div class="row">
            @for (compte of notActiveCompteList(); track compte) {
              <div class="col-md-3 mt-2">
                <div class="card">
                  <div class="card-body text-center">
                    <h5 class="card-title">{{ compte.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {{ compte.typeCompte }}
                    </h6>
                    <p class="card-text">Solde initial : {{ compte.soldeInitial }}</p>
                    <button (click)="reactivateAccount(compte)" class="btn btn-primary" [title]="'Réactiver le compte ' + compte.name">
                      Réactiver
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</section>
