<section class="container pb-5 bg-light">
  <div class="text-center">
    <div class="mb-5 d-flex justify-content-center align-items-center">
      <h1>Compty</h1>
      <div class="">
        <img src="assets/images/logo_compty.png" class="logo img-fluid" alt="compty-logo" title="Compty logo"/>
      </div>
    </div>
    <div class="mb-5 d-flex justify-content-center">
      <h2 class="col-md-6">Gérer vos comptes et optimisez votre budget</h2>
    </div>

    <div class="row mb-5 align-items-center">
      <p class="col-md-6 text-start px-2 pb-2">
        Compty est votre nouvelle application de gestion de comptes
        bancaires qui vous permet de gérer toutes vos opérations quotidiennes et
        les exporter au format .csv très simplement.
      </p>
      <div class="col-md-6">
        <img
          src="assets/images/JM-comptesB.JPG"
          class="img-fluid"
          alt="JM-comptesB.JPG"
          />
      </div>
    </div>

    @if (!isLoggedIn) {
      <div class="mb-5">
        <button class="btn btn-lg btn-primary" [routerLink]="['/register']">
          Inscrivez-vous !
        </button>
      </div>
    }

    <div class="mb-5 d-flex justify-content-center">
      <h2 class="col-lg-6">Comment ça marche ?</h2>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/02.png" class="img-fluid" alt="02.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="text-start">Ajouter vos comptes bancaires</h5>
          <p class="text-start">
            Ajouter un compte bancaire en précisant le solde actuel et le type
            de compte (courant, épargne, bourse).
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/01.png" class="img-fluid" alt="01.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="text-start">Ajouter une opération</h5>
          <p class="text-start">
            Ajouter une opération en précisant la catégorie, le compte bancaire,
            etc...
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-3">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/03.png" class="img-fluid" alt="03.png" />
        </div>
        <div
          class="col-md-5 px-5 mt-5 d-flex flex-column justify-content-evenly"
          >
          <h5 class="text-start">Voir toutes vos opérations</h5>
          <p class="text-start">
            Affichage de la somme de vos dépenses et revenues et mise à jour du
            solde de vos comptes.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-3 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/04.png" class="img-fluid" alt="04.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="text-start">Solde mensuel</h5>
          <p class="text-start">
            Affichage de la somme de vos dépenses et revenues et mise à jour du
            solde de vos comptes.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/05.png" class="img-fluid" alt="05.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="text-start">Répartition de vos dépenses</h5>
          <p class="text-start">
            Affichage d'un camembert montrant la répartion de vos dépenses par
            catégorie.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/06.png" class="img-fluid" alt="06.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="text-start">Evolution annuelle de vos comptes</h5>
          <p class="text-start">
            Suivez l'évolution annuelle de l'ensemble de vos comptes.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/07.png" class="img-fluid" alt="07.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="text-start">Evolution annuelle de vos comptes</h5>
          <p class="text-start">
            Suivez l'évolution mois par mois de l'ensemble de vos comptes.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img src="assets/images/08.png" class="img-fluid" alt="08.png" />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="card-title">
            Répartition des dépenses en cas de compte commun ou voyage entre
            amis
          </h5>
          <p class="card-text">
            Ajouter les participants, ajouter les opérations : le récapitulatif
            de ce que chacun doit s'affichera.
          </p>
        </div>
      </div>
    </div>

    <div class="card mb-5 pb-5 bg-light pt-5 justify-content-center">
      <div class="row px-2">
        <div class="col-md-7">
          <img
            src="assets/images/export.jpg"
            class="img-fluid"
            alt="export.jpg"
            />
        </div>
        <div class="col-md-5 px-5 d-flex flex-column justify-content-evenly">
          <h5 class="card-title">Exporter vos opérations</h5>
          <p class="card-text">
            Exporter vos opérations et solde de vos comptes en .csv pour ensuite
            pouvoir les mettre en forme en tableau excel.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
