<meta charset="utf-8" />
<!-- <meta http-equiv="content-language" content="fr-fr" /> -->

<!-- <meta property="og:title" content="JM-comptesB" />
<meta property="og:type" content="website" /> -->
<meta property="og:url" content="https://www.martin-julien-dev.fr" />
<!-- <meta property="og:image" content="images/photo.jpg" /> -->
<!-- <meta
  property="og:description"
  content="Application de gestion de comptes bancaires"
/> -->

<app-header class="bg-light" style="z-index: 2 !important"></app-header>

<!-- <div class="bg-light"> -->
<router-outlet></router-outlet>
<!-- </div> -->

<app-footer class="bg-light mt-5"></app-footer>
