<section class="container mt-2">
  <div class="text-center">
    <h1 class="mb-5">Récapitulatif Annuel des comptes</h1>
  </div>

  <div class="d-flex align-items-center justify-content-center mb-3">
    <form [formGroup]="form" (ngSubmit)="onSubmitChangeDate()">
      <div class="d-flex align-items-center">
        <div class="mx-2">
          <select
            class="form-select bg-light"
            type="select"
            formControlName="rangeDate"
          >
            <option value="{{ todayYear }}" selected>{{ todayYear }}</option>
            <option *ngFor="let year of displayYear">
              {{ year }}
            </option>
          </select>
        </div>
        <div class="mx-2">
          <button id="filterButton" type="submit" class="bg-light">
            <fa-icon
              [icon]="faFilter"
              class="text-primary"
              style="font-size: 20px"
            ></fa-icon>
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- ------   CHART     ---------->
  <div class="d-flex align-items-center justify-content-center">
    <ngx-charts-line-chart
      (window:resize)="onResize($event)"
      [view]="[width, 300]"
      [legend]="false"
      [showXAxisLabel]="showXAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
    >
    </ngx-charts-line-chart>
  </div>

  <div class="accordion" id="accordionExample">
    <!------------------- Comptes Courants --------------------->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Comptes courants : Evolution =
          {{ evolutionCompteCourant | number: "1.0-0":"fr" }} %
          <div class="mx-2">
            <!-- <button class="btn btn-secondary" (click)="export('comptes')">
              Exporter en csv
            </button> -->

            <a href="javascript:;" (click)="export('comptes')" class="mx-5">
              <fa-icon
                [icon]="faDownload"
                class="text-primary"
                style="font-size: 20px"
              ></fa-icon>
            </a>
          </div>
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row mb-5">
            <!-- <h2 class="text-center mb-3">Comptes courants</h2> -->
            <div class="col-lg-12">
              <div class="d-flex justify-content-evenly">
                <!-- <div class="mx-2 text-success">
                  Crédit = <fa-icon [icon]="faArrowUp"></fa-icon>
                  {{ totalCredit }} €
                </div>
                <div class="mx-2 text-danger">
                  Débit = <fa-icon [icon]="faArrowDown"></fa-icon>
                  {{ totalDebit }} €
                </div> -->
                <div *ngIf="totaldifference >= 0" class="mx-2 text-success">
                  Différence = <fa-icon [icon]="faArrowUp"></fa-icon>
                  {{ totaldifference | number: "1.0-0":"fr" }} €
                </div>
                <div *ngIf="totaldifference < 0" class="mx-2 text-danger">
                  Différence = <fa-icon [icon]="faArrowDown"></fa-icon>
                  {{ totaldifference | number: "1.0-0":"fr" }} €
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <!-- Angular mat table -->
                <table mat-table [dataSource]="dataSource" class="col-12">
                  <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef>Mois</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.month }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="economie">
                    <th mat-header-cell *matHeaderCellDef>Economie</th>
                    <td
                      [ngClass]="
                        element.economie >= 0 ? 'text-success' : 'text-danger'
                      "
                      mat-cell
                      *matCellDef="let element"
                    >
                      {{ element.economie | number: "1.0-0":"fr" }} €
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="solde">
                    <th mat-header-cell *matHeaderCellDef>Solde</th>
                    <td
                      [ngClass]="
                        element.solde >= 0 ? 'text-success' : 'text-danger'
                      "
                      mat-cell
                      *matCellDef="let element"
                    >
                      {{ element.solde | number: "1.00":"fr" }} €
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr
                    mat-row
                    *matRowDef="let myRowData; columns: columnsToDisplay"
                  ></tr>
                </table>
                <!-- <mat-paginator
        [pageSizeOptions]="[12]"
        showFirstLastButtons
        aria-label="Select page of operations"
      >
      </mat-paginator> -->
              </div>
            </div>

            <!-- <div class="col-lg-6">
              <div class="d-flex justify-content-evenly mt-2">
                <ngx-charts-line-chart
                  [view]="[700, 300]"
                  [legend]="false"
                  [showXAxisLabel]="showXAxisLabel"
                  [xAxis]="xAxis"
                  [yAxis]="yAxis"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  [timeline]="timeline"
                  [results]="multi"
                >
                </ngx-charts-line-chart>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!------------------- Epargne --------------------->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Epargne : Evolution = {{ evolutionEpargne | number: "1.0-0":"fr" }} %
          <div class="mx-2">
            <a href="javascript:;" (click)="export('epargne')" class="mx-5">
              <fa-icon
                [icon]="faDownload"
                class="text-primary"
                style="font-size: 20px"
              ></fa-icon>
            </a>
          </div>
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex justify-content-center pb-5">
                <!-- Angular mat table -->
                <table
                  mat-table
                  [dataSource]="dataSourceEpargne"
                  class="col-12"
                >
                  <ng-container matColumnDef="month">
                    <th mat-header-cell *matHeaderCellDef>Mois</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.month }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="investi">
                    <th mat-header-cell *matHeaderCellDef>Investissement</th>
                    <td
                      [ngClass]="
                        element.investi >= 0 ? 'text-success' : 'text-danger'
                      "
                      mat-cell
                      *matCellDef="let element"
                    >
                      {{ element.investi | number: "1.0-0":"fr" }} €
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="economie">
                    <th mat-header-cell *matHeaderCellDef>Opérations</th>
                    <td
                      [ngClass]="
                        element.economie >= 0 ? 'text-success' : 'text-danger'
                      "
                      mat-cell
                      *matCellDef="let element"
                    >
                      {{ element.economie | number: "1.0-0":"fr" }} €
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="solde">
                    <th mat-header-cell *matHeaderCellDef>Solde</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.solde | number: "1.0-0":"fr" }} €
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="columnsToDisplayEpargne"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let myRowData; columns: columnsToDisplayEpargne"
                  ></tr>
                </table>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="d-flex justify-content-center">
                <!-- Angular mat table -->
                <table
                  mat-table
                  [dataSource]="dataSourceEpargneYearly"
                  class="col-12"
                >
                  <ng-container matColumnDef="compte">
                    <th mat-header-cell *matHeaderCellDef>Compte</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="soldeInitial">
                    <th mat-header-cell *matHeaderCellDef>Total Investi</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.history.totalInvesti | number: "1.0-2":"fr" }}€
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="soldeFinal">
                    <th mat-header-cell *matHeaderCellDef>Somme Final</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.history.soldeFinal | number: "1.0-2":"fr" }}€
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="evolution">
                    <th mat-header-cell *matHeaderCellDef>Evolution</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.history.evolution | number: "1.0-2":"fr" }}%
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="columnsToDisplayYearly"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="let myRowData; columns: columnsToDisplayYearly"
                  ></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
