<section class="container mt-5">
  <div class="text-center">
    <h1 class="mb-5">Récapitulatif Annuel des comptes</h1>
  </div>

  <div class="d-flex align-items-center justify-content-center mb-3">
    <form [formGroup]="form" (ngSubmit)="onSubmitChangeDate()">
      <div class="d-flex align-items-center">
        <div class="mx-2">
          <select type="select" formControlName="rangeDate">
            <option value="2022" selected>2022</option>
            <option *ngFor="let year of displayYear">
              {{ year }}
            </option>
          </select>
        </div>
        <div class="mx-2">
          <button type="submit" class="btn btn-success">Afficher</button>
        </div>
      </div>
    </form>
  </div>

  <!------------------- Comptes Courants --------------------->
  <div class="row mb-5">
    <h2 class="text-center mb-3">Comptes courants</h2>
    <div class="col-lg-8">
      <div class="d-flex justify-content-evenly">
        <div class="mx-2">Crédit = {{ totalCredit }} €</div>
        <div class="mx-2">Débit = {{ totalDebit }} €</div>
        <div class="mx-2">Différence = {{ totaldifference }} €</div>
      </div>

      <div class="d-flex justify-content-center">
        <!-- Angular mat table -->
        <table mat-table [dataSource]="dataSource" class="col-12">
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef>Mois</th>
            <td mat-cell *matCellDef="let element">
              {{ element.month }}
            </td>
          </ng-container>
          <ng-container matColumnDef="economie">
            <th mat-header-cell *matHeaderCellDef>Economie</th>
            <td mat-cell *matCellDef="let element">
              {{ element.economie + " €" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="solde">
            <th mat-header-cell *matHeaderCellDef>Solde</th>
            <td mat-cell *matCellDef="let element">
              {{ element.solde + " €" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsToDisplay"
          ></tr>
        </table>
        <!-- <mat-paginator
        [pageSizeOptions]="[12]"
        showFirstLastButtons
        aria-label="Select page of operations"
      >
      </mat-paginator> -->
      </div>
    </div>

    <div class="col-lg-4">
      <div class="d-flex justify-content-evenly mt-2">Graphiques TODO</div>
    </div>
  </div>

  <!------------------- Epargne --------------------->
  <div class="row mt-5">
    <h2 class="text-center mb-3">Epargne</h2>
    <div class="col-lg-8">
      <div class="d-flex justify-content-evenly">
        <div class="mx-2">Crédit = {{ totalCreditEpargne }} €</div>
        <div class="mx-2">Débit = {{ totalDebitEpargne }} €</div>
        <div class="mx-2">Différence = {{ totaldifferenceEpargne }} €</div>
      </div>

      <div class="d-flex justify-content-center">
        <!-- Angular mat table -->
        <table mat-table [dataSource]="dataSourceEpargne" class="col-12">
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef>Mois</th>
            <td mat-cell *matCellDef="let element">
              {{ element.month }}
            </td>
          </ng-container>
          <ng-container matColumnDef="economie">
            <th mat-header-cell *matHeaderCellDef>Economie</th>
            <td mat-cell *matCellDef="let element">
              {{ element.economie + " €" }}
            </td>
          </ng-container>
          <ng-container matColumnDef="solde">
            <th mat-header-cell *matHeaderCellDef>Solde</th>
            <td mat-cell *matCellDef="let element">
              {{ element.solde + " €" }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsToDisplay"
          ></tr>
        </table>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="d-flex justify-content-evenly mt-2">Graphiques TODO</div>
    </div>
  </div>
</section>
