/* You can add global styles to this file, and also import other style files */
:root {
  --text: #231F27; /*    --text: #eae7ef;*/
  --background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity)); /*    --background: #231F27;*/
  --primary: hsl(268, 39%, 48%); /*    --primary: #774baa;*/
  --secondary: hsl(269, 48%, 28%); /*    --secondary: #46256a;*/
  --accent: hsl(268, 58%, 38%); /*    --accent: #5d2999;*/
  --secondary30: hsl(269, 48%, 28%, 30%);
  --primary40: hsl(268, 39%, 48%, 40%);
  --primary39: hsl(268, 39%, 48%, 39%);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Prata";
  src: url("assets/fonts/prata/Prata-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-display: swap;
}

* {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
}

.cursor-pointer {
  cursor: pointer;
}

/****************************************** LOADING ANIMATION  ************/
.ring {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:var(--text);
  letter-spacing:4px;
  text-transform:uppercase;
}
.ring:before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid var(--text);
  border-right:3px solid var(--text);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loading {
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loading:before {
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:var(--text);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px var(--text);
}
@keyframes animateC {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform:rotate(45deg);
  }
  100% {
    transform:rotate(405deg);
  }
}
/****************************************** FIN LOADING ANIMATION  ************/
